FIREBASE_CONFIG_API_KEY = ''
FIREBASE_CONFIG_AUTH_DOMAIN =''
FIREBASE_CONFIG_DATABASE_URL = ''
FIREBASE_CONFIG_PROJECT_ID = ''
FIREBASE_CONFIG_STORAGE_BUCKET = ''
FIREBASE_CONFIG_MESSAGING_SENDER_ID = ''
GOOGLE_CLIENTID_ANDROID_STANDALONE = ''
GOOGLE_CLIENTID_ANDROID_EXPO = ''
GOOGLE_CLIENTID_IOS_EXPO = ''
WEB_CLIENT_ID = ''
FB_APP_ID = ''